.table {
  width: 100%;
  border-collapse: collapse;
  font-family: "Poppins", sans-serif;
}

.table th {
  background-color: #0a66c2;
  color: white;
  font-weight: 600;
}

.table td {
  font-weight: 400;
}

.table .btn {
  padding: 6px 12px;
  font-size: 0.875rem;
  border-radius: 4px;
  background-color: #0a66c2;
  color: white;
  border: none;
  transition: all 0.3s ease;
}

.table .btn:hover {
  background-color: #0a5299;
}

@media (max-width: 768px) {
  .table th,
  .table td {
    font-size: 0.9rem;
    padding: 10px;
  }

  .table th {
    font-size: 1rem;
  }

  .table .btn {
    padding: 8px 14px;
    font-size: 0.9rem;
  }
  .table .btn:hover {
    background-color: #0a66c2;
  }
}

@media (max-width: 576px) {
  .table th,
  .table td {
    padding: 8px;
    font-size: x-small;
  }

  .table .btn {
    font-size: smaller;
    padding: 5px;
  }
}
