<div class="hero-video-container">
  <video autoplay loop muted class="hero-video">
    <source [src]="heroVideo" type="video/mp4" />
    Your browser does not support video.
  </video>
  <div
    class="hero-overlay text-center text-white d-flex flex-column justify-content-center align-items-center"
  >
    @if(registerMode){
    <h1 class="display-3 fw-bold mb-4 hero-title">Find Your Connection</h1>
    <p class="lead mb-4">The place where hearts meet.</p>
    <button class="button" (click)="registerToggle()">
      Take the First Step
    </button>
    } @if(!registerMode){
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <app-register-form
            (cancelRegister)="cancelRegisterMode($event)"
          ></app-register-form>
        </div>
      </div>
    </div>
    }
  </div>
</div>
