<div
  class="d-flex flex-column align-items-center justify-content-center mt-5"
>
  <div class="text-center">
    <img
      [src]="notFoundImageUrl"
      alt="Not found"
      width="100"
      class="mb-4"
    />
    <h2 class="mb-3">Page Not Found</h2>
    <p class="mb-4 text-muted mx-2">
      Oops! The page you are looking for doesn't exist or has been moved.
    </p>
    <button class="btn btn-info" routerLink="/board">
      <i class="bi bi-house-door-fill me-2"></i>
      Return to Home Page
    </button>
  </div>
</div>
