<div class="container matches-container">
  <div class="text-center mb-2">
    <h2 class="matches-title">
      Your matches -
      {{ membersService.paginatedResult()?.pagination?.totalItems }}
    </h2>
  </div>

  <div
    class="mb-4 filter-section d-flex align-items-center justify-content-between flex-wrap"
  >
    <form
      #form="ngForm"
      class="row row-cols-2 g-md-3 g-2 align-items-center justify-content-center justify-content-md-start w-100 mb-3 mb-md-0"
      (ngSubmit)="loadMembers()"
    >
      <div class="col-12 col-md-auto mt-3 mt-md-4">
        <button
          class="btn btn-active btn-sm filter-button w-100"
          type="button"
          name="orderBy"
          (click)="setActiveButton('lastActive')"
          btnRadio="lastActive"
          [(ngModel)]="membersService.userParams().orderBy"
          [ngClass]="{ active: orderBy === 'lastActive' }"
        >
          Last Active
        </button>
      </div>
      <div class="col-12 col-md-auto mt-2 mt-md-4">
        <button
          class="btn btn-active btn-sm filter-button w-100"
          type="button"
          name="orderBy"
          (click)="setActiveButton('created')"
          btnRadio="created"
          [(ngModel)]="membersService.userParams().orderBy"
          [ngClass]="{ active: orderBy === 'created' }"
        >
          Newest Members
        </button>
      </div>
      <div class="col filter-item">
        <label class="col-form-label filter-label">Age from:</label>
        <input
          type="number"
          class="form-control form-control-sm filter-input"
          name="minAge"
          [(ngModel)]="membersService.userParams().minAge"
        />
      </div>

      <div class="col filter-item">
        <label class="col-form-label filter-label">Age to:</label>
        <input
          type="number"
          class="form-control form-control-sm filter-input"
          name="maxAge"
          [(ngModel)]="membersService.userParams().maxAge"
        />
      </div>

      <div class="col filter-item">
        <label class="col-form-label filter-label">Show</label>
        <select
          name="gender"
          class="form-select form-select-sm filter-select"
          [(ngModel)]="membersService.userParams().gender"
        >
          @for(gender of genderList; track gender.value) {
          <option [value]="gender.value">
            {{ gender.display }}
          </option>
          }
        </select>
      </div>

      <div class="col-12 col-md-auto mt-3 mt-md-4">
        <button
          class="btn btn-primary btn-sm filter-button w-100"
          type="submit"
        >
          Apply filters
        </button>
      </div>
      <div class="col-12 col-md-auto mt-2 mt-md-4">
        <button
          (click)="resetFilters()"
          class="btn btn-secondary btn-sm filter-button w-100"
          type="button"
        >
          Reset filters
        </button>
      </div>
    </form>
  </div>

  <div
    class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g-4 members-grid"
  >
    @for (member of membersService.paginatedResult()?.items; track member.id) {
    <div class="col">
      <app-member-card [member]="member"></app-member-card>
    </div>
    }
  </div>

  @if(membersService.paginatedResult()?.pagination) {
  <div class="d-flex justify-content-center mt-4 pagination-section">
    <pagination
      [boundaryLinks]="true"
      [totalItems]="(membersService.paginatedResult()?.pagination)!.totalItems"
      [itemsPerPage]="
        (membersService.paginatedResult()?.pagination)!.itemsPerPage
      "
      (pageChanged)="pageChanged($event)"
      [(ngModel)]="(membersService.paginatedResult()?.pagination)!.currentPage"
      [maxSize]="10"
      previousText="&lsaquo;"
      firstText="&laquo;"
      lastText="&raquo;"
      class="pagination"
    >
    </pagination>
  </div>
  }
</div>
