<div class="text-center mt-4">
  <h2>{{ getTitle() }}</h2>
</div>

<div class="container mt-4">
  <div class="d-flex flex-column flex-md-row col-10 col-md-8 col-xl-6 mx-auto">
    <div class="btn-group w-100 mb-4">
      <button
        class="btn btn-active w-100 me-md-2 mb-2 mb-md-0"
        btnRadio="liked"
        [(ngModel)]="predicate"
        (click)="loadLikes()"
        [ngClass]="{ active: predicate === 'liked' }"
      >
        Members I like
      </button>
      <button
        class="btn btn-active w-100 me-md-2 mb-2 mb-md-0"
        btnRadio="likedBy"
        [(ngModel)]="predicate"
        (click)="loadLikes()"
        [ngClass]="{ active: predicate === 'likedBy' }"
      >
        Members who like me
      </button>
      <button
        class="btn btn-active w-100 mb-2 mb-md-0"
        btnRadio="mutual"
        [(ngModel)]="predicate"
        (click)="loadLikes()"
        [ngClass]="{ active: predicate === 'mutual' }"
      >
        Mutual
      </button>
    </div>
  </div>

  <div>
    @if(likesService.paginatedResult()?.items?.length === 0){
    <div class="text-center mb-4">Sorry, no members found. Try adjusting the filters.</div>

    }
    <div
      class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g-4 members-grid"
    >
      @for (member of likesService.paginatedResult()?.items; track member.id){
      <div class="col">
        <app-member-card [member]="member"></app-member-card>
      </div>
      }
    </div>
  </div>
</div>

@if(likesService.paginatedResult()?.pagination) {
<div class="d-flex justify-content-center mt-4 pagination-section">
  <pagination
    [boundaryLinks]="true"
    [totalItems]="(likesService.paginatedResult()?.pagination)!.totalItems"
    [itemsPerPage]="(likesService.paginatedResult()?.pagination)!.itemsPerPage"
    (pageChanged)="pageChanged($event)"
    [(ngModel)]="(likesService.paginatedResult()?.pagination)!.currentPage"
    [maxSize]="10"
    previousText="&lsaquo;"
    firstText="&laquo;"
    lastText="&raquo;"
    class="pagination-sm"
  >
  </pagination>
</div>
}
